* {
    font-family: 'Montserrat', 'Poppins', 'Didact Gothic';
}

body {
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #181818;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dark-light-container {
    left: 5vw;
    display: flex;
    place-items: center;
    position: absolute;
}

#dark-light {
    width: 4vw;
    height: 4vh;
    outline: none;
    cursor: pointer;
    appearance: none;
    border-radius: 3vh;
    position: relative;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
}

#dark-light::before {
    top: 0;
    left: 0;
    width: 4vh;
    height: 4vh;
    content: "";
    border-radius: 50%;
    position: absolute;
    transform: scale(0.9);
    transition: 0.4s;
    background: linear-gradient(to bottom, #ffffff, #dfdede);
}

#dark-light:checked::before {
    left: calc(100% - 4vh);
    background: none;
    background-color: #7e3cff;
}

.logo-nav {
    height: 13vh;
    border-bottom: 1px solid #0000001f;
}

.logo-nav-container {
    height: 100%;
}

.nav-logo {
    height: 100%;
    animation: fadeIn 2s ease-out;
}

.nav-logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-icon {
    color: #000000;
}

.noti-toggle {
    right: 0;
    margin-right: 4vw;
    border: none;
    background: none;
    font-size: 1.5em;
    position: absolute;
    transition: all 0.2s ease;
}

.noti-toggle:hover {
    transform: translateY(-2px);
}

.noti-toggle:active {
    color: #7e3cff;
}

#dark-light:checked .noti-toggle {
    color: #ffffff;
}

.navbar-nav{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 8px -6px;
}

.navbar-toggler {
    border: none;
}

.nav-item{
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
}

.nav-item::after {
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    content: '';
    position: absolute;
    transition: all 0.3s ease;
    background-color: #7e3cff;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    background-color: #00000010;
}

.nav-link {
    color: #131313;
    font-weight: 600;
    font-family: 'Poppins';
}

#dark-light:checked .nav-link{
    color: #ffffff;
}

.sidebar-close {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
}

.offcanvas-header {
    height: 16vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
}

.sidebar-logo {
    width: 20%;
    height: auto;
    object-fit: contain;
}

.offcanvas-title {
    font-family: 'Poppins';
    font-weight: 600;
}

.noti-title {
    font-weight: 600;
}
.noti-content{
    font-family: 'Poppins';
}

.offcanvas-item {
    background-color: transparent;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .noti-toggle {
        margin-right: 6vw;
    }

    .offcanvas-header {
        height: 12vh;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
    }

    .offcanvas-title {
        font-size: 1.5em;
    }

    .sidebar-logo {
        width: 25%;
        height: auto;
        object-fit: contain;
    }
}