* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins';
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.4s ease;
}

body.dark-mode {
    background-color: #131313;
}

#splash {
    inset: 0;
    z-index: 99;
    display: grid;
    position: fixed;
    place-content: center;
    background-color: #ffffff;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

#splash.invisible {
    opacity: 0;
    visibility: hidden;
}

.splash-logo {
    height: 10rem;
    animation: 1s forwards fall-in ease-in-out;
}

.splash-logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#splash-loader {
    width: 16rem;
}

#splash-loader text.text-body {
    font-size: 5rem;
    stroke-width: 2;
    font-weight: 700;
    stroke: #000000;
    font-family: 'Montserrat';
    animation: 6s infinite alternate logo-stroke;
}

.nav {
    height: 8rem;
}

.logo-nav {
    height: 6rem;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #0000001f;
}

.logo-nav.dark-mode {
    border-color: #ffffff1f;
}

.dark-light-container {
    left: 4rem;
    position: absolute;
}

#dark-light-switch {
    width: 4rem;
    height: 2rem;
    background: none;
    position: relative;
    border-radius: 1rem;
    border: 2px solid #000000;
    transition: border-color 0.4s ease;
}

#dark-light-switch:hover {
    border-color: #7e3cff;
}

#dark-light-switch::before {
    top: 50%;
    left: .05rem;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    transition: border-color 0.4s ease, left 0.4s ease;
}

#dark-light-switch.dark-mode {
    border-color: #ffffff;
}

#dark-light-switch.dark-mode::before {
    left: 2rem;
    background-color: #ffffff;
}

.nav-logo {
    width: 8rem;
    height: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 2s ease-out;
}

.nav-logo-img {
    height: 100%;
}

.nav-toggle {
    right: 0;
    border: none;
    background: none;
    font-size: 1.5em;
    color: #000000;
    position: absolute;
    transition: all 0.2s ease;
}

.noti-toggle {
    margin-right: 4rem;
}

.noti-toggle:hover {
    transform: translateY(-2px);
}

.noti-toggle:active {
    color: #7e3cff;
}

.nav-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2.2rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 8px -6px;
}

.nav-item {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-item::after {
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    background-color: #7e3cff;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    height: 100%;
    display: grid;
    color: #000000;
    font-weight: 600;
    place-content: center;
    transition: background-color 0.4s ease;
}

.nav-link.dark-mode, .nav-toggle.dark-mode, .page-header.dark-mode {
    color: #ffffff;
}

#content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8rem);
}

.sub-header {
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.searchbar {
    width: 35%;
    display: flex;
    position: relative;
    align-items: center;
}

#id_searchbar {
    width: 98%;
    height: 3rem;
    padding: 1rem;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 3rem;
}

.searchbar-icon {
    right: 0;
    width: 4rem;
    height: 3rem;
    border: none;
    display: flex;
    color: #ffffff;
    position: absolute;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: #7e3cff;
    transition: background-color 0.3s ease;
}

.searchbar-icon:hover {
    background-color: #6b21ff;
}

@keyframes fall-in {
    from {
        opacity: 0;
        transform: translate3d(0, -3rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes logo-stroke {
    0% {
        fill: transparent;
        stroke: #000000;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: #000000;
        stroke-width: 3;
    }

    80% {
        fill: #000000;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }

    90% {
        fill: #7e3cff;
    }

    100% {
        fill: #000000;
        stroke: transparent;
        stroke-width: 0;
    }
}