* {
    font-family: 'Montserrat', 'Poppins', 'Didact Gothic';
}

@keyframes riseIn {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes textSlideIn {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-header {
    display: flex;
    color: #000000;
    font-weight: 700;
    align-items: center;
    animation: riseIn 1s ease-out, fadeIn 1s ease-out;
    border-left: 10px solid #7e3cff;
}

.meal-suggestion {
    height: 100%;
    display: inline-block;
}

.meal-suggestion-title {
    font-weight: 700;
    display: inline-block;
}

.meal-suggestion-wrap {
    display: inline-block;
}

.meal-suggestion-link {
    border: none;
    font-weight: 600;
    color: #7e3cff;
    text-decoration: none;
    background: none;
}

.meal-suggestions {
    border-radius: 2vh;
    background-color: #00000015;
}

.dish-card{
    width: 18vw;
    height: 30vh;
    border-radius: 2vh;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dish-image {
    width: 100%;
    height: 60%;
}

.dish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}

.dish-info {
    width: 100%;
    height: 40%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    text-overflow: ellipsis;
    justify-content: center;
    background-color: #ffffff;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.dish-title {
    font-weight: 700;
}

.dish-prep, .prep-icon{
    color: #7e3cff;
    font-weight: 700;
}

.dish-servings{
    font-weight: 600;;
    opacity: 0.7;
}

.dish-overlay {
    height: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    border-radius: 2vh;
    position: absolute;
    transition: all 0.3s ease;
    background-color: #7d3cff49;
}

.dish-card:hover .dish-overlay {
    height: 100%;
}

.dish-link {
    top: 55%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    font-weight: 700;
    background-color: #000000;
    text-decoration: none;
    border-radius: 5vh;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: all 0.3s ease;
    color: #ffffff;
}

.dish-card:hover .dish-link {
    opacity: 1;
    visibility: visible;
}

.dish-link:hover{
    color: #ffffff;
    background-color: #7e3cff;
}

.dish-link:active{
    background-color: #7e3cff;
}