#landing {
    height: calc(100vh - 8rem);
}

.page-header {
    height: 5rem;
    font-size: 2rem;
    color: #000000;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
}

.page-header::before {
    left: 0;
    height: 60%;
    content: '';
    width: .5rem;
    position: absolute;
    background-color: #7e3cff;
}

.landing-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.content-grid {
    gap: 1rem;
    width: 100%;
    display: flex;
    height: calc(100% - 7rem); 
}

.meal-column {
    height: 100%;
    display: flex;
    align-self: flex-end;
    border-radius: 2vh;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.meal-column-label {
    height: 2rem;
    margin: auto;
    display: inline;
    font-weight: 600;
    font-size: 1.2rem;
}

.dish-row {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
}

.dish-card {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    border-radius: 1vh;
    position: relative;
}

.dish-card::before {
    inset: 0;
    z-index: -1;
    content: '';
    position: absolute;
    transition: opacity .5s ease;
    background: linear-gradient(to bottom, transparent, #000000)
}

.dish-card:hover::before{
    opacity: 0;
}

.dish-image {
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 1vh;
    transform: scale(1.2);
    transition: transform .5s ease;
}

.dish-card:hover .dish-image{
    transform: scale(1);
}

.dish-info {
    width: 100%;
    height: 30%;
    z-index: 2;
    position: relative;
    align-self: flex-end;
    transition: visibility .5s ease, opacity .5s ease;
}

.dish-card:hover .dish-info{
    opacity: 0;
    visibility: hidden;
}

.dish-info::after {
    top: -1rem;
    width: 90%;
    left: 50%;
    height: 4px;
    content: '';
    position: absolute;
    border-radius: 1vh;
    background-color: #7e3cff;
    transform: translateX(-50%);
}

.dish-info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
}

.dish-prep {
    color: #ffffff;
    font-weight: 500;
}

.dish-servings {
    font-weight: 600;
    color: #7e3cff;
}

.dish-link {
    top: 0;
    left: 0;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    border-radius: 2rem;
    text-decoration: none;
    transform: translate3d(0, -10rem, 0);
    background-color: #7e3cff;
    transition: background-color .2s ease, transform .5s ease-in-out;
}

.dish-card:hover .dish-link {
    transform: translate3d(0, 0, 0);
}

.dish-link:hover {
    background-color: #000000;
}

@media (max-width: 1366px) {

    .dish-card:last-child {
        display: none;
    }
}

