.newList-toggle {
    margin-right: 7rem;
}

.newList-toggle:hover {
    transform: rotate(90deg);
}

.lists-header {
    justify-content: space-between;
}

.main-container {
    height: auto;
    background-color: #0000001e;
}

.list-column {
    height: 16rem;
}

.list-card {
    height: 100%;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
    transition: 0.3s ease;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.list-title {
    height: 20%;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    transition: 0.3s ease;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: #000000;
}

.list-items {
    height: 80%;
    list-style: none;
    overflow: hidden;
    mask: linear-gradient(#ffffff 80%, transparent);
}

.list-item {
    width: 80%;
    font-weight: 600;
    margin-left: .4rem;
    position: relative;
    border-radius: 1rem;
    background-color: #0000001e;
}

.list-item::before {
    top: 0;
    left: -0.4rem;
    content: '';
    width: .2rem;
    height: 100%;
    position: absolute;
    background: #7e3cff;
}

.list-actions {
    width: 100%;
    height: 25%;
    display: flex;
    bottom: -4rem;
    position: absolute;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to top, #ffffff 85%, transparent);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.list-card:hover .list-title{
    background: #7e3cff;
}

.list-card:hover .list-actions {
    bottom: 0;
}

.list-link {
    font-weight: 700;
    color: #ffffff;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.open-link {
    background-color: #000000;
}

#add-items {
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    transition: background-color 0.3s ease
}

#add-items:hover {
    background-color: #7e3cff;
}

.open-link:hover {
    background-color: #7e3cff;
}

.delete-link {
    border: none;
    cursor: pointer;
    background-color: #960303;
}

.delete-link:hover {
    background-color: #be0202;
}

.new-list-card {
    transition: background-color 0.3s ease
}

.list-card-toggle {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 3rem;
    color: #000000;
    text-decoration: none;
    place-content: center;
}

.new-list-card:hover{
    background-color: #7d3cff71;
}

.save-link {
    border: none;
    background-color: #7e3cff;
}

.save-link:hover {
    background-color: #000000;
}

.modal-header {
    background-color: #000000;
}

.modal-title {
    color: #ffffff;
    font-weight: 700;
}

.modal-body-text {
    font-weight: 600;
}

.add-list-label {
    font-weight: 700;
}

#id_listItems {
    width: 100%;
    height: 100%;
    padding: 1rem;
    outline: none;
    font-weight: 600;
    color: #7e3cff;
    border-radius: .5rem;
    border: 2px solid #000000;
}

.dismiss-link {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #7e3cff;
    transition: background-color 0.3s ease;
}

.dismiss-link:hover {
    background-color: #000000;
}

.btn-close {
    background-color: #ffffff;
}

.offcanvas-header {
    display: flex;
    position: relative;
    justify-content: center;
}

.sidebar-close {
    left: 0;
    position: absolute;
}

.sidebar-brand {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-logo {
    height: 2rem;
}

#newListForm {
    width: 100%;
}

#newListForm label{
    display: block;
    font-weight: 700;
}

#newListForm input{
    width: 100%;
    height: 6vh;
    border: none;
    outline: none;
    padding: 1vw;
    font-weight: 700;
    color: #7e3cff;
    border-radius: 1vh;
    background-color: #0000001a;
}

#newListForm textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1vh;
    font-weight: 700;
    color: #7e3cff;
    border-radius: 1vh;
    background-color: #0000001a;
}

#add-items-submit {
    width: 100%;
    border: none;
    color: #ffffff;
    font-weight: 700;
    background-color: #000000;
    transition: background-color 0.3s ease;
}

#add-items-submit:hover {
    background-color: #7e3cff;
}