body {
    height: 100vh;
}

.nav-button {
    width: 5vw;
}

nav {
    width: 100vw;
    display: flex;
}

#main-nav {
    width: 92vw;
    overflow-x: hidden;
}

.navbar-nav{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 8px -6px;
}

.navbar-toggler {
    border: none;
}

.nav-item{
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
}

.nav-item::after {
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    content: '';
    position: absolute;
    transition: all 0.3s ease;
    background-color: #7e3cff;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    background-color: #00000010;
}

.nav-link {
    color: #131313;
    font-weight: 600;
    font-family: 'Poppins';
}