{% extends 'EricaOne/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'EricaOne/lists.css' %}">
{% endblock %}
{% block addList %}
    <a href="#newList" class="newList-toggle" data-bs-toggle="offcanvas" data-bs-target="#newList" role="button" aria-controls="newList"><i class="fa-solid fa-plus nav-icon"></i></a>
{% endblock%}

{% block content %}
    <div class="lists-header mb-3">
        <h2 class="page-header display-4 mx-3 ps-3">
            Your Lists
        </h2>
        <form action="{% url 'search_recipes' %}" method="POST" class="searchbar mx-5" id="searchbar-form">
            {% csrf_token %}
            <input type="search" name="searchbar" id="id_searchbar" placeholder="Find your recipes...">
            <button class="searchbar-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="container-fluid list-container p-0 m-0">
        <div class="row list-row m-0">
            {% for list in lists %}
            <div class="list-column col-4 col-lg-3 mb-4">
                <div class="card list-card">
                    <h3 class="list-title m-0 ps-2">
                        {{list}}
                    </h3>
                    <ul class="list-items p-0 m-0 ms-2 mt-3">
                        {% for listitem in list.listItems.all %}
                            <li class="list-item mb-1 ps-2">{{listitem}}</li>
                        {% endfor %}
                    </ul>
                    <div class="list-actions pe-2">
                        <a href="{% url 'list' list.id %}" class="list-link px-3 py-2 me-2">See list</a>
                        <a href="{% url 'delete_list' list.id %}" class="delete-link list-link px-3 py-2 me-2">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block newList %}
    <div class="offcanvas offcanvas-end" id="newList" aria-labelledby="newList-label">
        <div class="offcanvas-header">
            <button type="button" class="btn-close sidebar-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <img src="{% static 'EricaOne/brand/logos/logo-black-slim.png' %}" class="sidebar-logo">
            <h5 class="offcanvas-title" id="newList-label">New List</h5>
        </div>
        <div class="offcanvas-body p-0">
            <form id="newListForm" action="/lists" enctype="multipart/form-data" class="p-3" method="post">
                {% csrf_token %}
                <label for="id_title">Title:</label>  
                <input type="text" name="title" maxlength="255" required="" id="id_title" class="mb-3">
                
                <label for="id_listItems">Listitems:</label>
                <textarea name="listItems" cols="40" rows="10" id="id_listItems" class="mb-3" placeholder="separate items by 'comma, space'"></textarea>
                
                <button id="submit" type="submit" class="btn btn-lg">Save</button>            
            </form>
        </div>
    </div>
{% endblock %}