{% extends 'EricaOne/base.html' %}
{% load static %}

{% block recipes_styles %}
    <link rel="stylesheet" href="{% static 'EricaOne/recipes.css' %}">
{% endblock %}
{% block addDish %}
    <a href="#newDish" class="newDish-toggle" data-bs-toggle="offcanvas" data-bs-target="#newDish" role="button" aria-controls="newDish"><i class="fa-solid fa-plus nav-icon"></i></a>
{% endblock%}

{% block content %}
    <div class="recipes-header mb-5">
        <h2 class="page-header display-4 mx-3 ps-3">
            Your Recipes
        </h2>
        <div class="searchbar mx-5">
            <input type="search" name="searchbar" id="id_searchbar" placeholder="Find your recipes...">
            <a class="searchbar-icon" href="http://"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
    {% for category in categories %}
        <div class="container-xxl dish-row-container">
            <h4 class="category-label mx-3 my-2">{{category}}</h4>
            <div class="dish-row p-1 mb-5">
                {% for dish in dishes %}
                    {% if category in dish.get_categories%}
                        <div class="dish-column col-4 col-lg-3 px-1">
                            <div class="card dish-card">
                                <div class="dish-image">
                                    {% if dish.image %}
                                        <img src="{{dish.image.url}}" class="dish-img">
                                    {% else %}
                                        <img src="{% static 'EricaOne/images/brand/no-image.png' %}" class="dish-img">    
                                    {% endif %}
                                </div>
                                <div class="dish-info p-3">
                                    <h4 class="dish-title mb-3">{{dish.name}}</h4>
                                    <p class="dish-prep m-0">
                                        <i class="fa-solid fa-clock prep-icon pe-1"></i>
                                        {% if dish.prep_hours != 0 %}
                                            {{dish.prep_hours}}hr 
                                        {%endif%} 
                                        {{dish.prep_minutes}} min
                                    </p>
                                    <p class="dish-servings m-0">
                                        <i class="fa-solid fa-utensils pe-1"></i>
                                        {{dish.servings}} servings
                                    </p>
                                </div>
                                <div class="dish-overlay">
                                </div>
                                <a href="{% url 'recipe' dish.id %}" class="dish-link px-5 py-3">See dish</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block newDish %}
    <div class="offcanvas offcanvas-end" id="newDish" aria-labelledby="newDish-label">
        <div class="offcanvas-header">
            <button type="button" class="btn-close sidebar-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <img src="{% static 'EricaOne/brand/logos/logo-black-slim.png' %}" class="sidebar-logo">
            <h5 class="offcanvas-title" id="newDish-label">New Dish</h5>
        </div>
        <div class="offcanvas-body p-0">
            <form action="/recipes/" method="post" enctype="multipart/form-data" id="newDishForm" class="p-3">
                {% csrf_token %}             
                <label for="id_name">Dish Name:</label>
                <input type="text" name="name" maxlength="255" required="" id="id_name" class="mb-3">
                <div id="durationField">
                    <div class="durationFieldblock me-1">
                        <label for="id_prep_hours">Hours:</label>
                        <input type="number" name="prep_hours" required="" id="id_prep_hours">
                    </div>
                    <div class="durationFieldblock ms-1">
                        <label for="id_prep_minutes">Minutes:</label>
                        <input type="number" name="prep_minutes" required="" id="id_prep_minutes" class="mb-3">
                    </div>
                </div>
          
                <label for="id_servings">Servings:</label>
                <input type="number" name="servings" required="" id="id_servings" class="mb-3">
                
                <label for="id_image">Image:</label>
                <input type="file" name="image" accept="image/*" id="id_image">

                <label for="id_aliases">Aliases:</label>
                <textarea name="aliases" cols="40" rows="5" id="id_aliases" class="mb-3">null</textarea>
                
                <label id="cat-label" for="id_categories" class="mb-4">Categories</label>
                <div id="id_categories" class="row mb-5 mx-1 p-2">
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_0">Savoury</label>
                        <input type="checkbox" name="categories" value="1" id="id_categories_0">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_1">Sweet</label>
                        <input type="checkbox" name="categories" value="2" id="id_categories_1">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_2">Baked</label>
                        <input type="checkbox" name="categories" value="3" id="id_categories_2">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_3">Deep-Fried</label>
                        <input type="checkbox" name="categories" value="4" id="id_categories_3">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_4">Fried</label>
                        <input type="checkbox" name="categories" value="5" id="id_categories_4">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_5">Sauteed</label>
                        <input type="checkbox" name="categories" value="6" id="id_categories_5">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_6">Protein Diet</label>
                        <input type="checkbox" name="categories" value="7" id="id_categories_6">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_7">Diet</label>
                        <input type="checkbox" name="categories" value="8" id="id_categories_7">
                    </div>
                </div>
                
                <button type="submit" id="submit" class="btn btn-lg">Add Dish</button>
            </form>
        </div>
    </div>
    <script>
            var recipesNavLink = document.getElementById('recipes-nav-link');
            if (recipesNavLink) {
                recipesNavLink.style.color = '#7e3cff';
            }
    </script>
{% endblock %}