{% extends 'EricaOne/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'EricaOne/recipes.css' %}">
{% endblock %}
{% block addDish %}
    <a href="#newDish" class="nav-toggle newDish-toggle" data-bs-toggle="offcanvas" data-bs-target="#newDish" role="button" aria-controls="newDish"><i class="fa-solid fa-plus nav-icon"></i></a>
{% endblock%}

{% block content %}
    <section id="content">
        <div class="container-fluid main-container p-0">
            <div class="sub-header recipes-header">
                <h2 class="page-header display-4 mx-3 ps-3">
                    Your Recipes
                </h2>
                <form action="{% url 'search' %}" method="POST" class="searchbar mx-5" id="searchbar-form">
                    {% csrf_token %}
                    <input type="search" name="searchbar" id="id_searchbar" placeholder="Find your recipes...">
                    <input type="hidden" name="search_model" value="dish">
                    <button class="searchbar-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="content-grid p-3 m-0">
                {% for result in results %}
                    <label class="row-label ps-2 my-4">{{ result.category }}</label>
                    <div class="row dish-row py-2">
                        {% for dish in result.dishes %}
                            <div class="dish-column col-3 px-2">
                                <div class="dish-card p-2">
                                    {% if dish.image %}
                                        <img src="{{dish.image.url}}"  class="dish-image">
                                    {% else %}
                                        <img src="{% static 'EricaOne/brand/no-image.png' %}" class="dish-image">    
                                    {% endif %}
                                    <div class="dish-info my-2 px-3">
                                        <p class="card-title mb-2">{{ dish.name }}</p>
                                        <p class="dish-prep mb-1">
                                            <i class="fa-solid fa-clock me-1"></i>
                                            <span>
                                                {% if dish.prep_hours != 0 %}
                                                    {{dish.prep_hours}} hours
                                                {% endif %}
                                            </span>
                                            <span>
                                                {% if dish.prep_minutes != 0 %}
                                                    {{dish.prep_minutes}} minutes
                                                {% endif %}
                                            </span>
                                        </p>
                                        <p class="dish-servings">
                                            <i class="fa-solid fa-utensils me-1"></i>
                                            {{dish.servings}} Servings
                                        </p>
                                    </div>
                                    <a href="{% url 'recipe' dish.id %}" class="dish-link px-3 py-2 m-2">See dish</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block newDish %}
    <div class="offcanvas offcanvas-end" id="newDish" aria-labelledby="newDish-label">
        <div class="offcanvas-header">
            <button type="button" class="btn-close sidebar-close m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <img src="{% static 'EricaOne/brand/logos/logo-black-slim.png' %}" class="sidebar-logo">
            <h5 class="offcanvas-title" id="newDish-label">New Dish</h5>
        </div>
        <div class="offcanvas-body p-0">
            <form action="/recipes/" method="post" enctype="multipart/form-data" id="newDishForm" class="p-3">
                {% csrf_token %}             
                <label for="id_name">Dish Name:</label>
                <input type="text" name="name" maxlength="255" required="" id="id_name" class="mb-3">
                <div id="durationField">
                    <div class="durationFieldblock me-1">
                        <label for="id_prep_hours">Hours:</label>
                        <input type="number" name="prep_hours" required="" id="id_prep_hours">
                    </div>
                    <div class="durationFieldblock ms-1">
                        <label for="id_prep_minutes">Minutes:</label>
                        <input type="number" name="prep_minutes" required="" id="id_prep_minutes" class="mb-3">
                    </div>
                </div>
          
                <label for="id_servings">Servings:</label>
                <input type="number" name="servings" required="" id="id_servings" class="mb-3">
                
                <label for="id_image">Image:</label>
                <input type="file" name="image" accept="image/*" id="id_image">

                <label for="id_aliases">Aliases:</label>
                <textarea name="aliases" cols="40" rows="5" id="id_aliases" class="mb-3">null</textarea>
                
                <label id="cat-label" for="id_categories" class="mb-4">Categories</label>
                <div id="id_categories" class="row mb-5 mx-1 p-2">
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_0">Savoury</label>
                        <input type="checkbox" name="categories" value="1" id="id_categories_0">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_1">Sweet</label>
                        <input type="checkbox" name="categories" value="2" id="id_categories_1">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_2">Baked</label>
                        <input type="checkbox" name="categories" value="3" id="id_categories_2">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_3">Deep-Fried</label>
                        <input type="checkbox" name="categories" value="4" id="id_categories_3">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_4">Fried</label>
                        <input type="checkbox" name="categories" value="5" id="id_categories_4">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_5">Sauteed</label>
                        <input type="checkbox" name="categories" value="6" id="id_categories_5">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_6">Protein Diet</label>
                        <input type="checkbox" name="categories" value="7" id="id_categories_6">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_7">Diet</label>
                        <input type="checkbox" name="categories" value="8" id="id_categories_7">
                    </div>
                    <div class="col-4 text-center p-0 mb-2">
                        <label for="id_categories_8">Dinner</label>
                        <input type="checkbox" name="categories" value="9" id="id_categories_8">
                    </div>
                </div>
                
                <button type="submit" id="submit" class="btn btn-lg">Add Dish</button>
            </form>
        </div>
    </div>
{% endblock %}