{% extends 'EricaOne/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'EricaOne/recipes.css' %}">
{% endblock %}

{% block content %}
    <div id="content">
        <div class="sub-header search-header mb-5">
            <h2 class="page-header display-4 mx-3 ps-3">
                {% if searchbar %}
                    Search Results for "{{searchbar}}"
                {% else %}
                    You didn't enter a search term &#x1F644
                {% endif %}
            </h2>
            <form action="{% url 'search' %}" method="POST" class="searchbar mx-5" id="searchbar-form">
                {% csrf_token %}
                <input type="search" name="searchbar" id="id_searchbar" placeholder="Find your recipes...">
                <button class="searchbar-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
{% endblock %}