{% extends 'EricaOne/base.html' %}
{% load static %}

{% block recipes_styles %}
    <link rel="stylesheet" href="{% static 'EricaOne/recipes.css' %}">
{% endblock %}

{% block content %}
    <div class="recipes-header mb-5">
        <h2 class="page-header display-4 mx-3 ps-3">
            {% if searchbar %}
                Search Results for "{{searchbar}}"
            {% else %}
                You didn't enter a search term &#x1F644
            {% endif %}
        </h2>
        <form action="{% url 'search_recipes' %}" method="POST" class="searchbar mx-5" id="searchbar-form">
            {% csrf_token %}
            <input type="search" name="searchbar" id="id_searchbar" placeholder="Find your recipes...">
            <button class="searchbar-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="container-fluid search-container">
        {% for dish in results %}
            <div class="search-column col-4 col-lg-3 px-1">
                <div class="card dish-card">
                    <div class="dish-image">
                        {% if dish.image %}
                            <img src="{{dish.image.url}}" class="dish-img">
                        {% else %}
                            <img src="{% static 'EricaOne/images/brand/no-image.png' %}" class="dish-img">    
                        {% endif %}
                    </div>
                    <div class="dish-info p-3">
                        <h4 class="dish-title mb-3">{{dish.name}}</h4>
                        <p class="dish-prep m-0">
                            <i class="fa-solid fa-clock prep-icon pe-1"></i>
                            {% if dish.prep_hours != 0 %}
                                {{dish.prep_hours}}hr 
                            {%endif%} 
                            {{dish.prep_minutes}} min
                        </p>
                        <p class="dish-servings m-0">
                            <i class="fa-solid fa-utensils pe-1"></i>
                            {{dish.servings}} servings
                        </p>
                    </div>
                    <div class="dish-overlay">
                    </div>
                    <a href="" class="dish-link px-5 py-3">See dish</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<script>
    var recipesNavLink = document.getElementById('recipes-nav-link');
    if (recipesNavLink) {
        recipesNavLink.style.color = '#7e3cff';
    }
</script>